.contained-reg{
    background-color: #192841;
  }
  input:focus{
    outline: none;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .form{
    background-color: aliceblue;
    height: 400px;
    width: 700px;
    border-radius: 5%;
    padding: 10px;
  }
  .form p{
    color: #192841  ;
    font-weight: 500;
    margin-left: 20px;
  }
  .header{
    color: #192841  ;
    margin-bottom: 50px;
    text-align: center;
  }
  .input{
    background-color: aliceblue;
    border-bottom-color: #192841 ;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    width: 270px;
    margin-right: 70px;
    color: #192841 ;
    font-size: 1.1rem;
    margin-left: 20px;
  }
  .upperlogin{
    display: flex;
  }
  .lowerlogin{
    display: flex;
  }
  .alr{
    color: #192841  ;
    font-weight: 500;
    text-align: center;
  }
  .password{
    display: flex;
  }
  .password input {
    margin-right: 0px;
  }
  .eye{
    background: none;
      color: #192841 ;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
  }
  .submit{
    background-color: #192841;
    width: 300px;
    height: 50px;
    border-radius: 50cm;
    color: aliceblue;
    transition: background-color  330ms ;
  }
  .submit:hover{
    background-color: #304c7c;
  }
  .btncont{
    display: flex;
    justify-content: center;
  }