body{
  background-color: dodgerblue !important;
}
input:focus{
  outline: none;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form{
  background-color: aliceblue;
  height: 400px;
  width: 700px;
  border-radius: 5%;
  padding: 10px;
}
.form p{
  color: dodgerblue ;
  font-weight: 500;
}
.header{
  color: dodgerblue ;
  margin-bottom: 50px;
}
.input{
  background-color: aliceblue;
  border-bottom-color: dodgerblue;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  width: 270px;
  margin-right: 70px;
  color: dodgerblue;
  font-size: 1.1rem;
}
.upperlogin{
  display: flex;
}
.lowerlogin{
  display: flex;
}
.alr{
  color: dodgerblue ;
  font-weight: 500;
}
.password{
  display: flex;
}
.password input {
  margin-right: 0px !important;
}